@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');html{
    width: 1440px;
height: 2795px;
}


.navbar{
    display: flex;
   /* justify-content: center;*/
    list-style: none;
    position: fixed;
}
#nav{
    display: block;
    height: 50px;
    line-height: 50px;
}
.block1{
    margin-left: 49px;
    margin-top: 34px;
 width: 228px;
height: 66px;
justify-content: center;

}
#image {
    
    padding-top: 9px;
    display: flex;
    width: 49px;
    height: 49px;
    
    
}

#Otarea{
    padding-left: 10px;
    padding-top: 10px;
    color: #373737;
    font-family: Roboto;
    font-size: 39px;
    font-style: normal;
    font-weight: 10px;
    line-height: normal;
    text-decoration: none;
    height: 46px;
    width: 159px;

}
  #in{
    padding-top: 10px;
        background: linear-gradient(180deg, #2B7AC1 0%, #3AB26F 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Roboto;
        font-size: 39px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    text-decoration: none;

    }
.block2{
    display: flex;
    margin-top: 46.5px;
    width: 96px;
     margin-left: 8px;
    align-items: center;
}

#line{
  display: flex;
  margin: 10px;
    width:1px;
height: 24px;

background: rgba(0, 0, 0, 0.61);
}
#blog{
    
 padding-left: 24px;
 color: #373737;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight:300px;
line-height: normal;
padding-right: 10px;


}
.block3{
    display: flex;
    width: 245px;
    height: 49px;
    margin-left: 453px;
    margin-top: 43px;
  
}
#arc{
width: 17px;
height: 20px;


}
#Archieves{
    height: 26px;
    width: 94px;
    color: #373737;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
 display: flex;
 padding-top: 10px;
 padding-left: 10px;
}
#str{
width: 20px;
height: 20px;
padding-left: 10px;
}

#Store{
    height: 26px;
    width: 51px;
    display: flex;
    color: #373737;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: normal;

}
.block4{
    width: 223px;
height: 49px;
flex-shrink: 0;
margin-left: 27px;
margin-top: 43px;
margin-right: 49px;
align-items: center;
}
#Get{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 23.5px;
background: #184655;
box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);

}
.box1{
    display: flex;
    width: 1386px;
height: 742px;
flex-shrink: 0;
margin-left: 27px;
margin-top: 155px;
border-radius: 50px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#let{
    color: #184655;
font-family: Poppins;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 424px;
height: 136px;
margin-top: 220px;
margin-left: 83px;
}
.sb{
    display: flex;
    margin-top: 378px;
    padding-left: 10px;
    width: 546px;
   height: 78.93px;

}
.search{
    width: 546px;
height: 78.93px;
flex-shrink: 0;
    border-radius: 19px;
background: #FFF;
}
.button{
    width: 189.595px;
height: 78.93px;
flex-shrink: 0;
border-radius: 0px 19px 19px 0px;
background: #184655;

}



.flex{
    margin-left: 27px;
    display: flex;
    width: 1386px;
    height: 512px;
    border: 2px solid rebeccapurple;
}


.box3{
    margin-left: 22px;
    margin-top: 26px;
}
#img{
    width: 671px;
height: 460px;
flex-shrink: 0;
}
#heading{
    margin-left: 43px;
    margin-top: 36px;
    display: flex;
    color: #404040;
font-family: Roboto;
font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#lorem{
    margin-left: 43px;
    margin-top: 36px;
width: 624px;
height: 348px;
flex-shrink: 0;
color: #464343;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#p2{
    margin-left: 43px;
    margin-top: 36px;
 padding-left: 736px;
    margin-top: 45px;
    padding-left: 400px;
    

}#p1{
    margin-left: 43px;
    margin-top: 36px;
}
.box5{
    margin-left: 43px;
    display: inline-flex;
    width: 1386px;
height: 469px;
flex-shrink: 0;
border-radius: 20px;
background: linear-gradient(146deg, rgba(249, 247, 247, 0.10) 0%, rgba(249, 247, 247, 0.40) 100%);
box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(20px);
}
.a1{
 display: inline-block;  
}
#pa{
    display: block;
}
#pa2{display: block;}
.a2{
    
}
.p3{
    display: inline-block;
}
.a3{
    
}
#box6{
    width: 1386px;
height: 707px;
flex-shrink: 0;
border: 2px solid red;
margin-left: 27px;
margin-top: 45px;
}
#subb{
    width: 524.656px;
height: 164.016px;
flex-shrink: 0;
margin-left: 163.18px;
margin-top: 186.43px;

}
#p11{
    color: #000;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
#p12{color: #000;
    font-family: Roboto;
    font-size: 57px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}
#p13{color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}
    #dn{
        width: 222.861px;
        color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 251px;
height: 49px;
flex-shrink: 0;
border-radius: 23.5px;
background: linear-gradient(122deg, #2C56AA 0%, #3BB08B 100%);
box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
margin-top: 90px;
margin-left: 171px;    
}
#image11{
    display: flex;
width: 751.1px;
justify-content: center;
align-items: center;

}
